<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>
    <h1>My name is <%= @name %></h1>
    <% if @show_description %>
        <p>This is my description</p>
    <% end %>
</body>
</html>



