<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Clashing Hashes</title>
    <link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>
    <h1>Input two hashtags:</h1>
    <form action="/twitter" method="POST">
        <input type="text" name="first_hash" class="form-hashtag">
        <input type="text" name="second_hash" class="form-hashtag">
        <input type="submit" class="form-submit" value="compare">
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>
