<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Clashing Hashes</title>
    <link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>
    <form action="/twitter" method="post">
        <input type="text" name="first_hash" class="form-hashtag">
        <input type="text" name="second_hash" class="form-hashtag">
        <input type="submit" class="form-submit" value="compare">
    </form>
</body>
</html>
