<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>
    <p>Your form has been submitted.</p>
    <ul>
        <li><%= "#{@first}" %></li>
        <li><%= "#{@second}" %></li>
    </ul>
</body>
</html>
