<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>
    <dl>
        <dt><%= "#{@first}" %></dt>
        <dd>Tweets: <span>1000</span></dd>
    </dl>
    <dl>
        <dt><%= "#{@second}" %></dt>
        <dd>Tweets: <span>1000</span></dd>
    </dl>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>
